src/main/resources/resource.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:simpleType name="version">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="className">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="paramName">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="exists">
        <xs:restriction base="xs:string">
            <xs:minLength value="3" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="Resource">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="desc" type="desc" minOccurs="0" maxOccurs="1" />
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="Request" type="request" />
                    <xs:element name="Create" type="create" />
                    <xs:element name="Read" type="read" />
                    <xs:element name="Update" type="update" />
                    <xs:element name="Delete" type="delete" />
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="version" type="version" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="desc">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="method">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GET"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PUT"/>
            <xs:enumeration value="DELETE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="sql" >
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="sqlType" default="query" />
                <xs:attribute name="when" type="xs:string" />
                <xs:attribute name="className" type="className" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="sqlType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="query"/>
            <xs:enumeration value="update"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="request">
        <xs:sequence>
            <xs:element name="desc" type="desc" minOccurs="0" maxOccurs="1" />
            <xs:element name="param" type="param" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="execute" type="execute" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Sql" type="sql" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="method" type="method" default="GET" />
        <xs:attribute name="item" type="xs:boolean" default="false" />
    </xs:complexType>

    <xs:complexType name="param">
        <xs:attribute name="paramName" type="paramName" use="required" />
        <xs:attribute name="blank" type="xs:boolean" default="false" />
        <xs:attribute name="num" type="xs:boolean" default="false" />
        <xs:attribute name="max" type="xs:string" />
        <xs:attribute name="min" type="xs:string" />
        <xs:attribute name="exists" type="exists" />
    </xs:complexType>

    <xs:complexType name="execute">
        <xs:attribute name="className" type="className" use="required" />
    </xs:complexType>

    <xs:complexType name="create">
        <xs:complexContent>
            <xs:extension base="request">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="read">
        <xs:complexContent>
            <xs:extension base="request">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="update">
        <xs:complexContent>
            <xs:extension base="request">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="delete">
        <xs:complexContent>
            <xs:extension base="request">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
