src/main/resources/resource.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://xml.metamug.net/resource/1.0"
            xmlns:mtmg="http://xml.metamug.net/resource/1.0"
            targetNamespace="http://xml.metamug.net/resource/1.0"
            elementFormDefault="qualified">

    <xsd:simpleType name="strlength">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="version">
        <xsd:restriction base="xsd:double">
            <xsd:minExclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="id">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="parent">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="requires">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="className">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="scriptFile">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="paramName">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="headerName">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="elementId">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="status">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="100"/>
            <xsd:maxExclusive value="600"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="exists">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="transaction">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="Sql" type="sql" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
        <xsd:attribute name="when" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="Resource">
        <xsd:complexType>
            <xsd:sequence>
                <!--<xsd:element name="Desc" type="desc" minOccurs="0" maxOccurs="1"/>-->

                <xsd:element name="Desc" minOccurs="0" maxOccurs="1">
                    <xsd:complexType mixed="true">
                        <xsd:sequence>
                            <xsd:element name="Tag" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:attribute type="xsd:string" name="name"/>
                                    <xsd:attribute type="xsd:string" name="color"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:choice maxOccurs="unbounded">
                    <xsd:element name="Request">
                        <xsd:complexType>
                            <xsd:annotation>
                                <xsd:documentation>
                                    For processing incoming request and sending back response.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:choice maxOccurs="unbounded">
                                <!--<xsd:element name="Desc" type="desc" minOccurs="0" maxOccurs="1"/>-->

                                <xsd:element name="Desc" minOccurs="0" maxOccurs="1">
                                    <xsd:complexType mixed="true">
                                        <xsd:sequence>
                                            <xsd:element name="Tag" minOccurs="0" maxOccurs="1">
                                                <xsd:complexType>
                                                    <xsd:attribute type="xsd:string" name="name"/>
                                                    <xsd:attribute type="xsd:string" name="color"/>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>

                                <xsd:element name="Header" type="header" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="Param" type="param" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="Execute" type="execute" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="Sql" type="sql" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="Transaction" type="transaction" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="XRequest" type="xrequest" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="Script" type="script" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="Text" type="text" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:choice>
                            <xsd:attribute name="method" type="method" use="required"/>
                            <xsd:attribute name="status" type="status"/>
                            <xsd:attribute name="item" type="xsd:string" />
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="v" type="version" use="required"/>
            <xsd:attribute name="parent" type="parent"/>
            <xsd:attribute name="auth">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[a-zA-Z].*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
        <xsd:unique name="uniqueReq">
            <xsd:selector xpath="mtmg:Request"/>
            <xsd:field xpath="@method"/>
            <xsd:field xpath="@item"/>
        </xsd:unique>
        <xsd:unique name="uniqueId">
            <xsd:selector xpath="mtmg:Request/*"/>
            <xsd:field xpath="@id"/>
        </xsd:unique>
    </xsd:element>

    <xsd:simpleType name="desc">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="method">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HEAD"/>
            <xsd:enumeration value="GET"/>
            <xsd:enumeration value="POST"/>
            <xsd:enumeration value="PUT"/>
            <xsd:enumeration value="DELETE"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="xrequestOutput">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="true"/>
            <xsd:enumeration value="false"/>
            <xsd:enumeration value="headers"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="paramType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="date"/>
            <xsd:enumeration value="datetime"/>
            <xsd:enumeration value="email"/>
            <xsd:enumeration value="number"/>
            <xsd:enumeration value="text"/>
            <xsd:enumeration value="time"/>
            <xsd:enumeration value="url"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="sqlType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="query"/>
            <xsd:enumeration value="update"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="sql">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="elementId" use="required"/>
                <xsd:attribute name="type" type="sqlType" />
                <xsd:attribute name="requires" type="requires"/>
                <xsd:attribute name="ref" type="xsd:string"/>
                <xsd:attribute name="when" type="xsd:string"/>
                <xsd:attribute name="loop" type="xsd:string"/>
                <xsd:attribute name="onblank" type="xsd:string"/>
                <xsd:attribute name="onerror" type="xsd:string"/>
                <xsd:attribute name="verbose" type="xsd:boolean" default="false" />
                <xsd:attribute name="output" type="xsd:boolean" default="false" />
                <xsd:attribute name="limit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[a-zA-Z].*"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="offset">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[a-zA-Z].*"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="classname" type="className" />
                <xsd:attribute name="status" type="status"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="arg">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string" />
        <xsd:attribute name="path" type="xsd:string" />
    </xsd:complexType>
    
    <xsd:complexType name="text">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="elementId" use="required" />
                <xsd:attribute name="when" type="xsd:string"/>
                <xsd:attribute name="output" type="xsd:boolean" default="true" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="execute">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="Arg" type="arg" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
        <xsd:attribute name="id" type="elementId" use="required"/>
        <xsd:attribute name="requires" type="requires"/>
        <xsd:attribute name="when" type="xsd:string"/>
        <xsd:attribute name="onerror" type="xsd:string"/>
        <xsd:attribute name="classname" type="className"/>
        <xsd:attribute name="verbose" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="output" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="status" type="status"/>
    </xsd:complexType>
    
    <xsd:complexType name="script">
        <xsd:attribute name="id" type="elementId" use="required"/>
        <xsd:attribute name="file" type="scriptFile" use="required"/>
        <xsd:attribute name="output" type="xsd:boolean" default="true" />
        <xsd:attribute name="when" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="xparam">
        <xsd:attribute name="name" type="paramName" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="xbody">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="header">
        <xsd:attribute name="name" type="headerName" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="xheader">
        <xsd:attribute name="name" type="headerName" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="xrequest">
        <xsd:annotation>
            <xsd:documentation>
                For making external request to 3rd party APIs
            </xsd:documentation>
        </xsd:annotation>
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="Param" type="xparam" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Header" type="xheader" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Body" type="xbody" minOccurs="0" maxOccurs="1"/>
        </xsd:choice>
        <xsd:attribute name="id" type="elementId" use="required"/>
        <xsd:attribute name="when" type="xsd:string"/>
        <xsd:attribute name="url" type="xsd:string" use="required"/>
        <xsd:attribute name="method" type="method" use="required"/>
        <xsd:attribute name="verbose" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="output" type="xrequestOutput" use="optional" />
        <xsd:attribute name="classname" type="className" />
    </xsd:complexType>

    <xsd:complexType name="param">
        <xsd:annotation>
            <xsd:documentation>
                To perform validation on the parameters received.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="paramName" use="required"/>
        <xsd:attribute name="max" type="xsd:double"/>
        <xsd:attribute name="min" type="xsd:double"/>
        <xsd:attribute name="maxlength" type="strlength"/>
        <xsd:attribute name="minlength" type="strlength"/>
        <xsd:attribute name="pattern" type="xsd:string"/>
        <xsd:attribute name="exists" type="exists"/>
        <xsd:attribute name="value" type="xsd:string"/>
        <xsd:attribute name="testvalue" type="xsd:string"/>
        <xsd:attribute name="type" type="paramType" use="required"/>
        <xsd:attribute name="required" type="xsd:boolean" default="false"/>
    </xsd:complexType>

</xsd:schema>